@page
@model WebAppPelda.Views.Home.CustomerListModel
@{
    ViewData["Title"] = "Ügyfelek";
}

<div class="text-center">
    <h1 action="display-4">Ügyfelek adatai</h1>
    <h2>Név: @()</h2>
    <p>Telefonszám: @()</p>
    <p>Pontszám: @()</p>
</div>
