@{
    ViewData["Title"] = "Ügyfelek";
}

<div class="text-center">
    <h1 action="display-4">Ügyfelek adatai</h1>
    @foreach(Customer customer in Model)
    {
        <h2>Név: @(customer.Name)</h2>
        <p>Telefonszám: @(customer.Phone)</p>
        <p>Pontszám: @(customer.Score)</p>
    }
</div>
