@using WebAppPelda.Models;

@{
    ViewData["Title"] = "Sus oldal";
}

<div class="text-center">
    <h1 class="display-4">pam pam pam pam pam pam pam pam-pam-pam pam pam</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">amogus</a>.</p>
    <img src="https://i1.sndcdn.com/artworks-dcNLzw38S8DHvIvp-17NyIg-t240x240.jpg" />
    <p>@((Model as Customer).Name)</p>
    <p>@((Model as Customer).Phone)</p>
    <p>@((Model as Customer).Score)</p>
</div>
